name: Lint
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths:
      - "**.ts"
      - "**.tsx"
      - "**.js"
      - "**.yml"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: pnpm install
        uses: ./.github/actions/pnpm-install

      - name: Run Lint
        run: pnpm lint
